*~
*.log
#*.conf
*.project
*.pydevproject
*.DS_Store
.DS_Store
libreria.db

orchestrator-core/.metadata/
FrogOrchestrator.log
PYTHONPATH
db.sqlite3
/tests
/scripts/main1.py
/config/config.ini
/config/ResourceDescription*
/config/OnosResourceDescription.json
.idea/
__pycache__/
keys/public-keys.json
keys/broker-keys.json
config/JolnetDomainDescription.json
config/OnosResourceDescription_demo.json
config/script-config.ini
config/script-local-config.ini
