*.pyc
*.log
#*.conf
*.project
*.pydevproject
*.DS_Store
.DS_Store
libreria.db

orchestrator-core/.metadata/
FrogOrchestrator.log
PYTHONPATH
db.sqlite3
/tests
/scripts/main1.py
/config/config.ini
/config/ResourceDescription*
