*~
*.log
#*.conf
*.project
*.pydevproject
*.DS_Store
.DS_Store
libreria.db

orchestrator-core/.metadata/
FrogOrchestrator.log
PYTHONPATH
db.sqlite3
/tests
/scripts/main1.py
config/*.ini
!config/default-config.ini
config/*.json
!config/description.json
.idea/
__pycache__/
keys/*.json
!keys/public-keys.json
